<%= link_to "Back to projects", prtds_path, class:'btn btn-primary mt-3' %>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="projects">
      <%= render @prtd %>
      <div class=" w-50 mt-3 d-flex justify-content-between gap-1">
        <%= link_to "Edit", edit_prtd_path(@prtd), class: "btn btn-primary my-2" %>
        <%= button_to "Destroy", @prtd, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>