<%= link_to "Back to projects", projects_path, class: 'text-light btn btn-primary mt-3' %>

<div class="container">
  <h1>Prmers</h1>
  <%= link_to "New ", new_prmer_path, class: "btn btn-primary" %><br>
  <div class="container mt-2">
     <% @prmers.each do |prmer| %>
    <%= render prmer %>
    <p>
      <%= link_to "Show this prmer", prmer, class: "btn btn-success" %>
    </p>
  <% end %>
  </div>

</div>

