<%= link_to "Back to projects", prm_path(@prmer.prm), class:'btn btn-primary mt-3' %>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="projects">
      <%= render @prmer %>
      <div class=" w-50 mt-3 d-flex justify-content-between gap-1">
        <%= link_to "Edit", edit_prmer_path(@prmer), class: "btn btn-primary my-2" %>
        <%= button_to "Destroy", @prmer, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>