<%= link_to "Back to projects", project_path(@project), class: 'text-light btn btn-primary mt-3' %>

<div class="container">
  <h1>Attachments</h1>
  <%= link_to "New ", new_project_patch_path(@project), class: "btn btn-primary" %><br>
  <div class="container mt-2">
     <% @patches.each do |patch| %>
            <%= render patch %> 
            <p>
              <%= link_to "Show this patch", patch, class: "btn btn-primary" %>
            </p>
          <% end %>
  </div>
</div>

