<div class="card mt-3 w-50">
  <div class="card-body">
    <h1 class="card-title mb-5"><strong><%= prm.name %></strong></h1>
    <p class="card-text bg-light border border-light"><%= prm.body %></p>
  </div>
</div>