<%= link_to "Back to projects", projects_path, class: 'text-light btn btn-primary mt-3' %>

<div class="container">
  <h1>Message</h1>
  <%= link_to "New", new_project_prm_path(@project), class: "btn btn-primary" %><br>
  <div class="container mt-2">
    <% @prms.each do |prm| %>
    <%= render prm %>
    <p>
      <%= link_to "Show", prm, class: "btn btn-success" %>
    </p>
    <% end %>
  </div>

</div>